.row-padding {
    display: flex;
    flex-wrap: wrap;
  }
  
  .third {
    width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  
  @media (max-width: 600px) {
    .third {
      width: 100%;
    }
  }
  